@import "../../../color.scss";

.component-generation-panel {
  background-color: #f2f2f2;
  height: 76vh;
  overflow-y: auto;
  padding: 1rem;
  position: relative;
  h2 {
    position: absolute;
    top: 45%;
    width: 97%;
    text-align: center;
    color: $primaryColor;
  }
  img {
    transform: scale(0.25) rotate(-32deg);
    left: -21%;
    top: 0;
  }
  h3 {
    text-align: right;
    color: $opaqueSelectedColor;
  }
  app-container:not(:last-child) {
    margin-bottom: 1rem;
  }
  &.selected {
    background-color: $selectedColor;
  }
}
.generate-component {
  margin-top: 1rem;
}
