<div
  class="component-generation-panel"
  [class.selected]="selected"
  (click)="select($event)"
>
  <app-component-property-display
    [framework]="framework"
    [componentId]="id"
  ></app-component-property-display>
  <div class="drop-zone" appDropZone (dropped)="onComponentDropped($event)">
    <ng-template appContainerHost></ng-template>
    <div appDropPlaceholder>
      <div class="drop-placeholder">Drop here</div>
    </div>
  </div>
</div>
<button
  class="generate-component"
  mat-raised-button
  color="primary"
  [class.shake]="invalidSubmission$ | async"
  (click)="generate()"
>
  Generate component
</button>
