<ng-container *ngIf="tabs.length === 0">
  <h2 class="intro">Create some components!</h2>
  <img src="/assets/Curved_Arrow.svg" />
</ng-container>
<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab
    [label]="'New ' + (tab.framework | capitalize) + ' component ' + (i + 1)"
    *ngFor="let tab of tabs; let i = index"
  >
    <app-component-generation-tab [tab]="tab"></app-component-generation-tab>
  </mat-tab>
</mat-tab-group>
<button
  class="new-component-button pulse"
  mat-fab
  color="primary"
  [matMenuTriggerFor]="menu"
>
  <mat-icon>add</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
    *ngFor="let framwork of frameworksObservable$ | async"
    mat-menu-item
    (click)="addNewTab(framwork)"
  >
    {{ framwork | words }}
  </button>
</mat-menu>
