@import "../../../color.scss";

app-container {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  .component {
    position: relative;
    display: block;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: white;
    h2 {
      display: inline-block;
      margin-right: 2rem;
    }
    .close-icon {
      position: absolute;
      right: 1%;
      top: 2%;
      cursor: pointer;
    }
    &.selected {
      background-color: $selectedColor;
    }
  }
}
